<meta charset="UTF-8">
<title>NoDiamond</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="icon" type="image/png" href="https://www.developpez.com/public/images/news/node-js10.png" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
    body {  
        margin:0px;
        padding:0px;
        background: rgba(255, 255, 255, 0.192) url('https://cdn.wallpapersafari.com/96/84/pdEZfz.jpg');
    
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    .nav-link { color: white!important }
    #navbarDropdownMenuLink-333:hover {
        background-color: #28a745;
        border-radius: 25%;
        cursor: pointer;
    }
    b { font-size: 19px;}
    #cover {
        background-size: cover;
        height: 100%;
        text-align: center;
        align-items: center;
        position: relative;
    }
    #form {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    #contour {
        margin-top: 60px;
        border-radius: 4%;
        background: rgba(105, 103, 103, 0.526);
        padding: 20px;
        padding-left: 80px;
        padding-right: 80px;;
    }
    #contour_index {
        background: rgba(248, 245, 245, 0.426);
        padding: 20px;
        height: 100vh;
    }
    
 </style>