<meta charset="UTF-8">
<title>ECE AST</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
    body { background: rgb(238, 235, 235) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    .nav-link { color: white!important }
    #navbarDropdownMenuLink-333:hover {
        background-color: grey;
        border-radius: 25%;
        cursor: pointer;
    }
 </style>