<nav class="navbar navbar-expand-lg bg-dark navbar-inverse">
    <a class="nav-link" href="/"><img src="https://www.developpez.com/public/images/news/node-js10.png" width="7%">   <b>NoDiamond</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default" id="menuDrop">
            <a class="dropdown-item" href="/logout">Log out</a>
            <a class="dropdown-item" href="/updatePassword">Change password</a>
            <a class="dropdown-item" href="/delete">Delete account</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>