
<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
    <div id="form">
      <% include partials/navBar %>
      <br>
      <p>Please enter the information of your new metric</p>
      <hr/>
      <form action="/deleteMetric" method="post">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="form_id">ID:</label>
          <div class="col-sm-3">
            <input id="form_id" type="id" name="id" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="form_timestamp">Timestamp:</label>
          <div class="col-sm-3">
            <input id="form_timestamp" type="number" name="timestamp" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="form_value">Value:</label>
          <div class="col-sm-3">
            <input id="form_value" type="number" name="value" class="form-control" required/>
          </div>
        </div>
        <br>
        <button class="btn btn-primary btn-block" type="submit" value="Submit">Delete</button>
      </form>
    </div>
  </body>
</html>