<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
  <section id="cover">
    <div id="form">
      <div class="row text-white">
        <div class="mx-auto text-center" id="contour">
          <h3>Home Page</h3>
          <hr/>
          <p>What do you want to do ?</p>
          <button class="btn btn-primary" type="submit"  onClick='document.location.href="/login"'>
            Sign In
          </button>
          <button class="btn btn-primary" type="submit"  onClick='document.location.href="/signup"'>
            Sign Up
          </button>
        </div>
      </div>
    </div>
    </section>
    </body>
  </html>