<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <% include partials/head %>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Hello <%= name %></h1>
      <button class="btn btn-success" id="show-metrics">
        Bring the metrics
      </button>
      <button class="btn btn-success" href="/addMetric" onClick='document.location.href="/addMetric"'>
        Add a metric
      </button>
      <button class="btn btn-success" href="/deleteMetric" onClick='document.location.href="/deleteMetric"'>
        Delete a metric
      </button>
      <div id="metrics"></div>
      </div>
      
      <canvas id="myChart"></canvas>

      <script>
        $('#show-metrics').click((e) => {
            e.preventDefault();
            $.getJSON("/metrics/", {}, (data) => {

              // Fetch timestamps and values of metrics
              const content = data.map(d => {
                return [d.timestamp,d.value];
              })
              
              var timestmp=[];
              var val=[];

              for(var i=0; i<content.length; i++)
              {
                timestmp.push(content[i][0]);
                val.push(content[i][1]);
              }
              
              var ctx = document.getElementById('myChart').getContext('2d');
              var chart = new Chart(ctx, {

              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                  labels: timestmp,
                  datasets: [{
                      label: 'Metrics',
                      backgroundColor: 'rgb(255,0,0)',
                      borderColor: 'rgb(0, 50, 200)',
                      data: val
                  }]
              },
            });
          });
        })        
        
      </script>
      <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Logout
      </button>
      <button class="btn btn-danger" href="/updatePassword" onClick='document.location.href="/updatePassword"'>
        Change password
      </button>
      <button class="btn btn-danger" href="/delete" onClick='document.location.href="/delete"'>
        Delete
      </button>
    </body>
    
</html>

