<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
<div id="form">
    <p>Create your account</p>
    <hr/>
    <form action="/user" method="post">
      <div class="form-group">
        <label for="form_email">email</label>
        <input id="form_email" type="email" name="email" />
      </div>
      <div class="form-group">
        <label for="form_username">Username</label>
        <input id="form_username" type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="form_password">Password</label>
        <input id="form_password" type="password" name="password" />
      </div>
      <button class="btn btn-primary btn-block" type="submit" value="Submit" id="submit">Signup</button>
    </form>
    <hr/>   
  </div>
  </body>
  </html>